<!DOCTYPE html>
<html lang="es" ng-app="angularTimer">
<head>
    <meta charset="utf-8">
    <title>Time Tracker App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/fontello.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/angular-chart.css">
</head>
<body>

<div class="wrapper" ng-controller="timerController" ng-cloak class="ng-cloak">

    <!--
    <div id="login" ng-show="!isRegistered">$scope.Projects.length
        <div class="align-center">
            <h1>{{ ::appSettings.applicationName }}</h1>
            <form ng-submit="signIn(userName)">
                <input type="text" ng-model="userName" class="input" placeholder="Choose a username..." />
                <input type="submit" class="button button-inline button-blue" value="Start tracking!" />
            </form>
        </div>
    </div>
    -->

    <div id="app">

        <div class="tracker clear" ng-class="{ loading: !loaded }">
            <div class="actions align-center">
                <span class="counter">{{ counter }}</span>
                <button class="button button-inline button-large button-green" ng-click="startTracker()" ng-if="!workingProject.active" ng-hide="workingProject.project == null"><i class="icon-play"></i> Start</button>
                <button class="button button-inline button-large button-red" ng-click="stopTracker()" ng-if="workingProject.active"><i class="icon-stop"></i> Stop</button>
            </div>

            <div class="form">
                <div class="form-row">
                    <label>Project:</label>
                   <select class="input"  ng-class="{ disabled: workingProject.active }" ng-model="workingProject.project" ng-options="v.name for v in projects" ng-disabled="workingProject.active">
                         <option style="display:none" value=""></option>
                         <option ng-selected="v.name" ng-value="{{workingProject.project}}"></option>
                    </select>
<!--                    <select class="input" ng-model="workingProject.project"  ng-disabled="workingProject.active" ng-class="{ disabled: workingProject.active }">
                        <option ng-selected="{{project.id == workingProject.project.id}}" ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
                        <option style="display:none" value=""></option>
                    </select>-->
                </div>
                <div class="form-row">
                    <label>Task:</label>
                    <input type="text" ng-model="workingProject.task" class="input border-bottom" placeholder="Type your task..." />
                </div>
                <div class="form-row">
                    <label>Notes:</label>
                    <input type="text" ng-model="workingProject.notes" class="input border-bottom" placeholder="Type your notes..." />
                </div>
            </div>
        </div>

        <div class="container clear">
            <nav>
                <ul>
                    <li ng-class="{ active: navIsActive('/') }"><a href="#/"><i class="icon-logs"></i>Logs</a></li>
                    <li ng-class="{ active: navIsActive('/projects') }"><a href="#/projects"><i class="icon-projects"></i>Projects</a></li>
                    <li ng-class="{ active: navIsActive('/statistics') }"><a href="#/statistics"><i class="icon-stats"></i>Statistics</a></li>
                    <li ng-class="{ active: navIsActive('/todo') }"><a href="#/todo"><i class="icon-doc"></i>ToDo</a></li>
                </ul>
            </nav>
            <main style="overflow-y: scroll; height: 600px">
                <div ng-view></div>
            </main>
        </div>

    </div>

</div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/chart.js/dist/Chart.bundle.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/timerController.js"></script>
    <script src="app/factories/timerFactory.js"></script>
    <script src="app/controllers/logsController.js"></script>
    <script src="app/controllers/todoController.js"></script>
    <script src="app/controllers/projectsController.js"></script>
    <script src="app/controllers/statisticsController.js"></script>
</body>
</html>